<div class="container singlesat-container">
    <div class="row">
        <div class="col-md-12">
            <div class="satellite-name text-center">
                {{vm.satelliteName}}
            </div>
            <div class="sate-website-url text-center">
                © {{vm.websiteURL}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr bgcolor="#cee7ff">
                        <th class="text-center">TP</th>
                        <th class="text-center">
                            Freq & Pol
                            <div class="show-div-xs">
                                <div>SR</div>
                                <div>FEC</div>
                            </div>
                        </th>
                        <th class="text-center hide-td-xs">SR</th>
                        <th class="text-center hide-td-xs">FEC</th>
                        <th class="text-center">Channel Name</th>
                        <th class="text-center hidden-sm hidden-xs">Web</th>
                        <th class="text-center hidden-sm hidden-xs">V.PID</th>
                        <th class="text-center hidden-sm hidden-xs">A.PID</th>
                        <th class="text-center hidden-sm hidden-xs">Codecs</th>
                        <th class="text-center hidden-sm hidden-xs">SID</th>
                        <th class="text-center hidden-sm hidden-xs">Source</th>
                        <th class="text-center">Comments</th>
                        <th class="text-center">Beams</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="{{row.id}}" ng-repeat="row in vm.tableData" ng-class="{'separate-tr': row.sate_id != vm.tableData[$index - 1].sate_id}">
                        <td class="text-center" rowspan="{{vm.rowspans[row.sate_id]}}" ng-if="row.sate_id != vm.tableData[$index - 1].sate_id">
                            <b>{{row.tp}}</b><br/>
                            <span style="font-size: 11px;">{{row.fformat}}<br/>{{row.modulation}}</span>
                        </td>
                        <td class="text-center" rowspan="{{vm.rowspans[row.sate_id]}}" ng-if="row.sate_id != vm.tableData[$index - 1].sate_id">
                            {{row.frequency}} {{(row.polarization|uppercase).substr(0,1)}}
                            <div class="show-div-xs">
                                <div>{{row.symbol_rate}}</div>
                                <div>{{row.fec}}</div>
                            </div>
                        </td>
                        <td class="text-center hide-td-xs" rowspan="{{vm.rowspans[row.sate_id]}}" ng-if="row.sate_id != vm.tableData[$index - 1].sate_id">{{row.symbol_rate}}</td>
                        <td class="text-center hide-td-xs" rowspan="{{vm.rowspans[row.sate_id]}}" ng-if="row.sate_id != vm.tableData[$index - 1].sate_id">{{row.fec}}</td>
                        <td class="text-left highlighted-td">
                            <img class="sign-img" ng-src="./assets/img/flags/{{row.country}}.png" title="{{row.country}}" alt=" ">
                            {{row.channel_name}}
                        </td>
                        <td class="text-center hidden-sm hidden-xs"><a ng-href="http://{{row.website}}">{{row.website}}</a></td>
                        <td class="text-center hidden-sm hidden-xs">{{row.v_pid}}</td>
                        <td class="text-center hidden-sm hidden-xs">{{row.a_pid_lang}}</td>
                        <td class="text-center hidden-sm hidden-xs">{{row.video_codec}} / {{row.audio_codec}}</td>
                        <td class="text-center hidden-sm hidden-xs">{{row.sid}}</td>
                        <td class="text-center hidden-sm hidden-xs">{{row.source}}</td>
                        <td class="text-center">{{row.comments}}</td>
                        <td class="text-center" rowspan="{{vm.rowspans[row.sate_id]}}" ng-if="row.sate_id != vm.tableData[$index - 1].sate_id">
                            <div ng-repeat="beam in row.beams.split('^')">
                                <a href="http://{{beam.split('~')[1]}}">{{beam.split('~')[0]}}</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
