/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

body {
  padding-top: 140px;
  position: relative;
}

div, footer, a, button, span, ul, li, p {
  &:focus {
    outline: 0 !important;
  }
}

pre {
  tab-size: 8;
}

.right-menu {
  .avatar {
    float: right !important;
    margin-right: 20px;
  }
  .account-title {
    float: right !important;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .side-collapse-container {
    width: 100%;
    position: relative;
    left: 0;
    transition: left .1s;
  }
  .side-collapse-container.out {
    left: 250px;
  }
  .side-collapse {
    top: 0;
    bottom: 0;
    right: 0;
    direction: rtl;
    width: 250px;
    position: fixed;
    overflow: hidden;
    transition: width .1s;
    background: #f8f8f8;
    display: none;
  }
  .side-collapse.out {
    display: block;
  }
  .side-collapse.in {
    width: 0;
    display: block;
  }
}

.ltr-body .side-collapse {
  left: 0;
  direction: ltr;
}

.navbar-nav {
  -webkit-padding-start: 0;
  li {
    a {
      font-weight: bold;
      color: #494949 !important;
      text-transform: uppercase;
      img {
        width: 25px;
        margin-right: 20px;
      }
    }
  }
}

.navbar-collapse {
  border: 0 !important;
}

.navbar-inverse {
  .my-info {
    font-weight: bold;
    background: #494949 !important;
    color: white;
    text-transform: uppercase;
    padding: 20px 0 0 5px;
    display: inline-block;
    width: 100%;
    height: 70px;

    .avatar {
      float: left;
      width: 30px;
      height: 30px;
      background: white;
      border-radius: 15px;
      padding-right: 10px;
    }

    .account-title {
      float: left;
      margin-left: 20px;
      margin-top: 5px;
    }
  }
}

.navbar-fixed-top {
  background: white;
  border: 0;

  .navbar-toggle {
    border: 0;
    margin-top: 15px;

    .icon-bar {
      background: black;

    }
    &:focus {
      background: white;
    }
    &:hover {
      background: white;
      cursor: pointer;
    }
  }

  .navbar-header {
    padding-top: 10px;

    .logo {
      background: url(../assets/images/logo.png);
      height: 60px;
      background-repeat: no-repeat;
      background-position: center;
      &:focus {
        outline: 0 !important;
      }
    }
  }
  .side-collapse {
    z-index: 1;
  }
  .nav-tabs {
    border: 0;
  }
  .nav-item {
    width: 33.33%;
    border-top-width: 4px;
    border-top-style: solid;
    padding-top: 5px;
    a {
      color: black;
      &:hover {
        background: white;
      }
    }
    &:nth-child(1) {
      border-color: #ef5ca0;

      &.active {
        &:before {
          content: "";
          margin-left: calc(50% - 10px);
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #ef5ca0;
        }
        a {
          color: #ef5ca0;
          margin-top: -10px;
          padding-top: 0;
        }
      }
    }
    &:nth-child(2) {
      border-color: #04ccfc;
      &.active {
        &:before {
          content: "";
          margin-left: calc(50% - 10px);
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #04ccfc;
        }
        a {
          color: #04ccfc;
          margin-top: -10px;
          padding-top: 0;
        }
      }
    }
    &:nth-child(3) {
      border-color: #fe9200;
      &.active {
        &:before {
          content: "";
          margin-left: calc(50% - 10px);
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #fe9200;
        }
        a {
          color: #fe9200;
          margin-top: -10px;
          padding-top: 0;
        }
      }
    }

    .nav-link {
      font-weight: bold;
      font-size: 13px;
      padding: 10px 0 5px 0;
      text-align: center;
      border: 0 !important;
      border-radius: 0;
      //letter-spacing: -1px;

      &.active, &:focus {
        border: 0;
      }
    }
  }
  .tab-content {
    margin-top: 2px;
    padding-bottom: 5px;
  }
}

.category-link {
  background: white;
  border: 1px solid darkcyan;
  border-radius: 20px;
  padding: 2px 4px 1px 4px;;
  color: darkcyan;
  margin: 2px;
  font-size: 11px;
  font-weight: bold;
  min-width: 60px;
  text-align: center;
  display: inline-block;
  &:hover, &:active {
    text-decoration: none;
  }

  &.color1 {
    border-color: #e3659b;
    color: #e3659b;
    &.active {
      color: white;
      background: #e3659b;
    }
  }
  &.color2 {
    border-color: #7107a0;
    color: #7107a0;
    &.active {
      color: white;
      background: #7107a0;
    }
  }
  &.color3 {
    color: #c35a23;
    border-color: #c35a23;
    &.active {
      color: white;
      background: #c35a23;
    }
  }
  &.color4 {
    color: #f83555;
    border-color: #f83555;
    &.active {
      color: white;
      background: #f83555;
    }
  }
  &.color5 {
    color: #04ccfc;
    border-color: #04ccfc;
    &.active {
      color: white;
      background: #04ccfc;
    }
  }
}

.text-color1 {
  color: #e3659b;
}

.border-color1 {
  border-color: #e3659b;
}

.bg-color1 {
  background: #e3659b;
}

.text-color2 {
  color: #7107a0;
}

.border-color2 {
  border-color: #7107a0;
}

.bg-color2 {
  background: #7107a0;
}

.text-color3 {
  color: #c35a23;
}

.border-color3 {
  border-color: #c35a23;
}

.bg-color3 {
  background: #c35a23;
}

.text-color4 {
  color: #f83555;
}

.border-color4 {
  border-color: #f83555;
}

.bg-color4 {
  background: #f83555;
}

.text-color5 {
  color: #04ccfc;
}

.border-color5 {
  border-color: #04ccfc;
}

.bg-color5 {
  background: #04ccfc;
}

.section-label {
  margin: auto;
  margin-top: -10px;
  margin-bottom: 0;
  font-weight: bold;
  span {
    background: white;
    padding: 0 10px 0 10px;
  }
}

.button-wrapper {
  //text-align: right;
  padding-bottom: 0px;

  .btn {
    border: 0;
    border-radius: 0;
    color: white;
    padding: 1px 5px 1px 5px;
  }
}

.row {
  .item {
    padding: 10px;

    .box {
      box-shadow: 1px 0px 4px grey;
      display: inline-block;
    }
  }
}

.featured-label {
  font-weight: bold;
}

.video-title {
  border-bottom: 1px solid lightgrey;
  padding: 5px;
}

footer {
  /*position: fixed;*/
  left: 0px;
  bottom: 0px;

  width: 100%;
  height: 30px;
  border-top: 1px solid lightgray;
  padding: 3px;
  background: #eee;
}

.body-section {
  //padding-bottom: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

hr {
  margin-top: 20px;
  margin-bottom: 0px;
}

.lang-btn {
  float: right;
}

.copyright-div {
  font-size: 9px;
  padding-top: 5px;
}