<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover">
                <thead>
                <tr bgcolor="#cee7ff">
                    <th>Satellite</th>
                    <th>Frequency</th>
                    <th>Package</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>A.PID/Languege </th>
                    <th>Main Languages</th>
                    <th>V.PID</th>
                    <th>SID</th>
                    <th>Audio codec</th>
                    <th>Video codec</th>
                    <th>Encryption</th>
                    <th>Format</th>
                    <th>Resolution</th>
                    <th>Country</th>
                    <th>Website</th>
                    <th>Infopage</th>
                    <th>Status</th>
                    <th>Year launched</th>
                    <th>Date added</th>
                    <th>Source</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-dblclick="vm.openModal(row.id)" ng-repeat="(key, row) in vm.tableData">
                    <td>{{row.sate_name}}</td>
                    <td>{{row.frequency}}</td>
                    <td>{{row.package}}</td>
                    <td>{{row.channel_name}}</td>
                    <td>{{row.channel_type}}</td>
                    <td>
                        <a class="apid-selector" ng-repeat="apid in row.a_pid_lang" ng-click="vm.openApidModal(key, apid.id)">{{apid.a_pid_lang}}<br/></a>
                        <a class="apid-selector" ng-if="row.a_pid_lang.length == 0" ng-click="vm.openApidModal(key, 0)">(new)</a>
                    </td>
                    <td>{{row.main_lang}}</td>
                    <td>{{row.v_pid}}</td>
                    <td>{{row.sid}}</td>
                    <td>{{row.audio_codec}}</td>
                    <td>{{row.video_codec}}</td>
                    <td>{{row.encryption}}</td>
                    <td>{{row.cformat}}</td>
                    <td>{{row.resolution}}</td>
                    <td>{{row.country}}</td>
                    <td>{{row.website}}</td>
                    <td>{{row.infopage}}</td>
                    <td>{{row.status}}</td>
                    <td>{{row.year_launched}}</td>
                    <td>{{row.date_added.getDateString()}}</td>
                    <td>{{row.source}}</td>
                    <td>{{row.note}}</td>
                    <td class="controls-td">
                        <a ng-click="vm.openModal(row.id)">Edit</a> /
                        <a ng-click="vm.deleteData(row.id)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="channels_form.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title-data">Edit Channel Info</h3>
    </div>
    <div class="modal-body" id="modal-body-data">
        <form class="form-group">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="satellite">Satellite</label>
                        <select class="form-control" id="satellite" ng-model="data.satellite">
                            <option ng-repeat="sate in satellites" ng-value="sate.id">{{sate.sate_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="frequency">Frequency</label>
                        <select class="form-control" id="frequency" ng-model="data.frequency">
                            <option ng-repeat="freq in frequencies[data.satellite]" ng-value="freq">{{freq}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="package">Package</label>
                        <input type="text" ng-model="data.package" class="form-control" id="package" placeholder="Package">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="channel_name">Name</label>
                        <input type="text" ng-model="data.channel_name" class="form-control" id="channel_name" placeholder="Name">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="channel_type">Type</label>
                        <input type="text" ng-model="data.channel_type" class="form-control" id="channel_type" list="list-channel_type">
                        <datalist id="list-channel_type">
                            <option ng-repeat="item in channelTypes" value="{{item}}">
                        </datalist>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="main_lang">Main Languages</label>
                        <input type="text" ng-model="data.main_lang" class="form-control" id="main_lang" placeholder="Main Languages">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="v_pid">V.PID</label>
                        <input type="text" ng-model="data.v_pid" class="form-control" id="v_pid" placeholder="V.PID">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="sid">SID</label>
                        <input type="text" ng-model="data.sid" class="form-control" id="sid" placeholder="SID">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="audio_codec">Audio codec</label>
                        <input type="text" ng-model="data.audio_codec" class="form-control" id="audio_codec" placeholder="Audio codec">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="video_codec">Video codec</label>
                        <input type="text" ng-model="data.video_codec" class="form-control" id="video_codec" placeholder="Video codec">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="encryption">Encryption</label>
                        <input type="text" ng-model="data.encryption" class="form-control" id="encryption" placeholder="Encryption">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="cformat">Format</label>
                        <input type="text" ng-model="data.cformat" class="form-control" id="cformat" placeholder="Format">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="resolution">Resolution</label>
                        <input type="text" ng-model="data.resolution" class="form-control" id="resolution" placeholder="Resolution">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="countries">Country</label>
                        <input type="text" ng-model="data.country" class="form-control" id="countries" list="list-countries">
                        <datalist id="list-countries">
                            <option ng-repeat="item in countries" value="{{item}}">
                        </datalist>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="website">Website</label>
                        <input type="text" ng-model="data.website" class="form-control" id="website" placeholder="Website">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="infopage">Infopage</label>
                        <input type="text" ng-model="data.infopage" class="form-control" id="infopage" placeholder="Infopage">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <input type="text" ng-model="data.status" class="form-control" id="status" list="list-status">
                        <datalist id="list-status">
                            <option ng-repeat="item in channelStatuses" value="{{item}}">
                        </datalist>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="year_launched">Year launched</label>
                        <input type="text" ng-model="data.year_launched" class="form-control" id="year_launched" placeholder="Year launched">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="date_added">Date added</label>
                        <input type="date" ng-model="data.date_added" class="form-control" id="date_added" placeholder="Date added">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="source">Source</label>
                        <input type="text" ng-model="data.source" class="form-control" id="source" placeholder="Source">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="note">Comments</label>
                        <input type="text" ng-model="data.note" class="form-control" id="note" placeholder="Comments">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="save()">Save</button>
                        <button class="btn btn-default" ng-click="close()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="apid_form.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title-apid">Edit A.PID Language</h3>
    </div>
    <div class="modal-body" id="modal-body-apid">
        <form class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <label for="a_pid_lang">A.PID Language</label>
                        <input type="text" ng-model="data.a_pid_lang" class="form-control" id="a_pid_lang" placeholder="A.PID Language">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="save()">Save</button>
                        <button class="btn btn-success" ng-click="add()">Add New</button>
                        <button class="btn btn-danger" ng-click="delete()">Delete</button>
                        <button class="btn btn-default" ng-click="close()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>