<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover">
                <thead>
                <tr bgcolor="#cee7ff">
                    <th st-sort="">Name</th>
                    <th st-sort="">Orbit</th>
                    <th st-sort="">URL</th>
                    <th st-sort="">Beams</th>
                    <th st-sort="">Company</th>
                    <th st-sort="">Country</th>
                    <th st-sort="">Launch date</th>
                    <th st-sort="">Life time</th>
                    <th st-sort="">Status</th>
                    <th st-sort="">Footprint</th>
                    <th st-sort="">Website</th>
                    <th st-sort="">Note</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-dblclick="vm.openModal(row.id)" ng-repeat="(key, row) in vm.tableData">
                    <td>{{row.sate_name}}</td>
                    <td>{{row.orbit}}</td>
                    <td>{{row.url_name}}</td>
                    <td>
                        <a class="beam-selector" ng-repeat="beam in row.beams" ng-click="vm.openBeamModal(key, beam.id)">{{beam.beam_name}}<br/></a>
                        <a class="beam-selector" ng-if="row.beams.length == 0" ng-click="vm.openBeamModal(key, 0)">(new)</a>
                    </td>
                    <td>{{row.company}}</td>
                    <td>{{row.country}}</td>
                    <td>{{row.launch_date}}</td>
                    <td>{{row.life_time}}</td>
                    <td>{{row.status}}</td>
                    <td>{{row.footprint}}</td>
                    <td>{{row.website}}</td>
                    <td>{{row.note}}</td>
                    <td class="controls-td">
                        <a ng-click="vm.openModal(row.id)">Edit</a> /
                        <a ng-click="vm.deleteData(row.id)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="satellites_form.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title-data">Edit Satellite Infomation</h3>
    </div>
    <div class="modal-body" id="modal-body-data">
        <form class="form-group">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="sate_name">Name</label>
                        <input type="text" ng-model="data.sate_name" class="form-control" id="sate_name" placeholder="Name">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="orbit">Orbit</label>
                        <input type="text" ng-model="data.orbit" class="form-control" id="orbit" placeholder="Orbit">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="url_name">URL Name</label>
                        <input type="text" ng-model="data.url_name" class="form-control" id="url_name" placeholder="URL Name">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" ng-model="data.company" class="form-control" id="company" placeholder="Company">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="countries">Country</label>
                        <input type="text" ng-model="data.country" class="form-control" id="countries" list="list-countries">
                        <datalist id="list-countries">
                            <option ng-repeat="item in countries" value="{{item}}">
                        </datalist>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="launch_date">Launch date</label>
                        <input type="text" ng-model="data.launch_date" class="form-control" id="launch_date" placeholder="Launch date">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="life_time">Life time</label>
                        <input type="text" ng-model="data.life_time" class="form-control" id="life_time" placeholder="Life time">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <input type="text" ng-model="data.status" class="form-control" id="status" list="list-status">
                        <datalist id="list-status">
                            <option ng-repeat="item in sateStatuses" value="{{item}}">
                        </datalist>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="footprint">Footprint link</label>
                        <input type="text" ng-model="data.footprint" class="form-control" id="footprint" placeholder="Footprint link">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="website">Website</label>
                        <input type="text" ng-model="data.website" class="form-control" id="website" placeholder="Website">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="note">Note</label>
                        <input type="text" ng-model="data.note" class="form-control" id="note" placeholder="Note">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="save()">Save</button>
                        <button class="btn btn-default" ng-click="close()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="beam_form.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title-beam">Edit Beam Infomation</h3>
    </div>
    <div class="modal-body" id="modal-body-beam">
        <form class="form-group">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="beam_name">Beam Name</label>
                        <input type="text" ng-model="data.beam_name" class="form-control" id="beam_name" placeholder="Beam Name">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="link">Link</label>
                        <input type="text" ng-model="data.link" class="form-control" id="link" placeholder="Link">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="save()">Save</button>
                        <button class="btn btn-success" ng-click="add()">Add New</button>
                        <button class="btn btn-danger" ng-click="delete()">Delete</button>
                        <button class="btn btn-default" ng-click="close()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>