<div class="container game-category-container">
    <hr/>
    <div class="section-label text-center text-color{{vm.data.category}}">
        <span>{{vm.data.categoryTitles[vm.data.category]}}</span>
    </div>

    <div class="featured-label">FEATURED</div>

    <a ng-href="{{vm.data.featuredRedirectUrl}}">
        <img class="img-responsive img-featured" ng-src="{{vm.data.featuredVideoUrl}}">
    </a>

    <div class="video-title">{{vm.data.featuredVideoTitle}}</div>

    <div class="container">
        <div class="row" ng-repeat="row in vm.rows">
            <div class="col-xs-6 item" ng-repeat="item in row">
                <a href="#game-content/{{item.id}}" class="box">
                    <img class="img-responsive thumb-img" ng-src="{{item.thumb}}">
                    <div class="text-center">{{item.title}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
