<div class="container">
    <div class="featured-label">FEATURED</div>
    <div class="embed-responsive embed-responsive-16by9">
        <video id="video" controls loop ng-src="{{vm.data.featuredVideoUrl}}"></video>
    </div>
    <!--<div class="embed-responsive embed-responsive-16by9">
        <video id="myvideo" class="video-js vjs-default-skin" controls
               preload="auto" width="100%" height="400"
               poster="{{vm.data.featuredVideoUrl}}"
               ng-src="{{vm.data.featuredVideoUrl}}">
        </video>
    </div>-->



    <div class="video-title">{{vm.data.featuredVideoTitle}}</div>

    <div class="section" ng-repeat="cate in vm.data.categories">
        <hr class="border-{{cate.color}}"/>
        <div class="section-label text-center text-{{cate.color}}">
            <span>{{cate.title[lang]}}</span>
        </div>
        <div class="container">
            <div class="row">
                <div class="button-wrapper" ng-class="{'text-right': lang == 1}">
                    <a href="#tv-category/{{cate.id}}" class="btn btn-info btn-rect bg-{{cate.color}}">{{vm.viewAllText[lang]}}</a>
                </div>
                <slick infinite=true
                       slides-to-show=2
                       slides-to-scroll=2
                       prev-arrow=".slick-prev"
                       next-arrow=".slick-next">
                    <div class="slick-item item" ng-repeat="item in cate.items">
                        <a href="#tv-content/{{item.id}}" class="box">
                            <img class="img-responsive" ng-src="{{item.thumb}}">
                            <div>{{item.title}}</div>
                        </a>
                    </div>
                </slick>
            </div>
        </div>
    </div>
</div>