<div class="container">
    <div class="featured-label">FEATURED</div>
    <div class="embed-responsive embed-responsive-16by9">
        <video id="video" controls loop autoplay ng-src="{{vm.data.featuredVideoUrl}}"></video>
    </div>
    <div class="video-title">{{vm.data.featuredVideoTitle}}</div>

    <hr class="border-color3"/>
    <div class="section-label text-center text-color3">
        <span>Related Videos</span>
    </div>

    <div class="container">
        <div class="row" ng-repeat="row in vm.rows">
            <div class="col-xs-6 item" ng-repeat="item in row">
                <a href="#video-content/{{item.id}}" class="box">
                    <img class="img-responsive thumb-img" ng-src="{{item.thumb}}">
                    <div class="text-center">{{item.title}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
