<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>NAJM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body ng-controller="MainController as vm" ng-class="{'ltr-body':lang==1}">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header" ng-init="menu.visible=false">
            <button type="button"
                    ng-click="menu.visible = !menu.visible"
                    class="navbar-toggle" ng-class="{'pull-left':lang == 1}">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo" ng-click="menu.visible=false"></div>
            <!--<div class="text-center" ng-click="menu.visible=false" style="padding-top: 20px; font-weight: bold;">HIA SPECIAL</div>-->
        </div>
        <div class="navbar-inverse side-collapse {{!menu.visible ? 'in' : 'out'}}">
            <div class="my-info" ng-class="{'right-menu':lang == 0}">
                <div class="avatar"></div>
                <div class="account-title">{{vm.accountName[lang]}}</div>
            </div>
            <nav role="navigation" class="navbar-collapse">
                <ul class="nav navbar-nav" ng-click="menu.visible=false">
                    <li ng-repeat="menu in vm.menus"
                        ng-click="vm.tabSelect(menu.tabInd)">
                        <a><img ng-src="./assets/images/{{menu.icon}}"> {{menu.label[lang]}}</a>
                    </li>
                </ul>
            </nav>
        </div>

        <uib-tabset active="active" ng-click="menu.visible=false">
            <uib-tab ng-repeat="tab in vm.tabs"
                     index="$index"
                     heading="{{tab.label[lang]}}"
                     select="vm.tabSelect($index, tab);">

                <div class="categories text-center"
                     ng-init="vm.cateActived = -1">
                    <slick infinite=true
                           ng-if="vm.selectTab.url==tab.url"
                           slides-to-show=4
                           slides-to-scroll=4
                           prev-arrow=".slick-prev"
                           next-arrow=".slick-next">
                        <a ng-href="{{category.url}}"
                           class="category-link {{category.color}}"
                           ng-class="{active: vm.cateActived == $index}"
                           ng-click="vm.cateActived = $index"
                           ng-repeat="category in tab.categories"
                           ng-cloak>
                            {{category.title[lang]}}
                        </a>
                    </slick>
                </div>

            </uib-tab>
        </uib-tabset>
    </div>

</header>

<section class="body-section">
    <div ui-view ng-click="menu.visible=false"></div>
</section>

<footer ng-click="menu.visible=false">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <div class="copyright-div">copyright HIA SPECIAL. contact : support@hiaspecial.com</div>
            </div>
            <div class="col-xs-3 col-md-3">
                <button class="btn btn-default btn-xs lang-btn" ng-click="vm.changeLanguage()">
                    {{lang==1?'Arabic':'English'}}
                </button>
            </div>
        </div>
    </div>
</footer>
<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
